<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- META PARA WHATSAPP -->
    <meta property="og:title" content="Caundo tu papa te enseña a manejar">
    <meta property="og:description" content="jajaj">
    <meta property="og:image" content="https://i.imgur.com/kxYzAcf.png">
    <meta property="og:type" content="website">

    <!-- Espera 1 segundo para que WhatsApp lea los metadatos -->
    <meta http-equiv="refresh" content="1; url=/redirigir_video">
</head>
<body>
</body>
</html>