<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- META PARA WHATSAPP -->
    <meta property="og:title" content="Mira este video especial">
    <meta property="og:description" content="Haz clic para verlo">
    <meta property="og:image" content="https://drive.google.com/uc?export=view&id=1ibXiHg-NpWDRrpNJpKhbmW8QypC7ARFh">
    <meta property="og:type" content="website">

    <!-- Espera 1 segundo para que WhatsApp lea los metadatos -->
    <meta http-equiv="refresh" content="1; url=/redirigir_video">
</head>
<body>
</body>
</html>